black
email-validator
flake8
Flask
Flask-DebugToolbar
flask-bootstrap
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
Jinja2
mypy
mypy-extensions
mysqlclient
numpy
pycodestyle
pyflakes
pytest
pytest-cov
python-dotenv
SQLAlchemy
Werkzeug
WTForms
reportlab
gunicorn
