body {
    margin: 2px;
}

.jumbotron {
    background: url("https://placedog.net/1200/800?id=49") center no-repeat;
    background-size: cover;
}

.form-start-text {
    text-align: center;
    align-self: center;
}

.newstopic {
    display: flex;
    justify-content: center;
}

.remove {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 15px;
}
#addRow {
    width: 130px;
    height: 40px;
    font-size: 16px;
    background-color: lightseagreen;
    color: white;
    border: none;
    margin: 0.5rem;
}

button:hover {
    cursor: pointer;
}