body {
    margin: 2px;
}

.jumbotron {
    background: url("https://placedog.net/1200/800?id=49") center no-repeat;
    background-size: cover;
}

.form-start-text {
    text-align: center;
    align-self: center;
}

.newstopic {
    display: flex;
    justify-content: center;
}