body {
    margin: 2px;
}

.jumbotron {
    background: url("https://placedog.net/1200/800?id=49") center no-repeat;
    background-size: cover;
}

.form-start-text {
    text-align: center;
    align-self: center;
}

.newstopic {
    display: flex;
    justify-content: center;
}

.remove {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 15px;
}

#result {
    margin-bottom: 2.5rem;
    height: 70vh;
    padding: 1rem;
}

#jppint {
    margin-bottom: 2rem;
    height: 120vh;
    overflow-wrap: break-word;
    padding: 1rem;
    overflow-y: scroll;
}

/* デフォルトでは非表示 */
.error {
    display: none;
}

/* 隣接セレクタで
 * input:invalidの隣の
 * エラーメッセージは表示する
 */
input:invalid+.error {
    font-size: 0.9em;
    display: block;
    color: red;
}

#addRow {
    width: 130px;
    height: 40px;
    font-size: 16px;
    background-color: lightseagreen;
    color: white;
    border: none;
    margin: 0.5rem;
}

button:hover {
    cursor: pointer;
}