{% extends 'base.html' %} {% block styles %} {{super()}}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('.static', filename='css/style.css')}}"
/>
{% endblock %} {% block navbar %}
<div class="container">
  {% endblock %} {% block content %}
  <nav class="navbar navbar-expand-lg navbar-light">
    <div style="position: relative">
      <img
        src="{{ url_for('static', filename='images/Header.png') }}"
        alt="example image"
        class="img-fluid"
      />
      <button
        id="login"
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#login_button"
      />
    </div>
    <!-- 他のナビゲーション要素を追加 -->
  </nav>

  <!-- ログインモーダル -->
  <div
    class="modal fade"
    id="login_button"
    tabindex="-1"
    role="dialog"
    aria-labelledby="loginModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">ログイン</h5>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="loginForm" method="POST" action="{{ url_for('login') }}">
          <div class="modal-body">
            <div class="form-group">
              <label for="username">ユーザー名</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                required
              />
            </div>
            <div class="form-group">
              <label for="password">パスワード</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
              />
            </div>
            <div class="alert alert-danger d-none" id="loginError" role="alert">
              ログインに失敗しました。ユーザー名とパスワードを確認してください。
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              閉じる
            </button>
            <button type="submit" form="loginForm" class="btn btn-primary">
              ログイン
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div>
    <div class="menu_bar">
      <div class="text">
        <div class="dots"></div>
        <p>
          ログインしてできることは随時実装致します。しばしお待ちください。また、現在、ログイン可能なユーザー様を限定しています。ご了承ください。
        </p>
        <div class="back"></div>
      </div>
      <div id="username">ようこそ {{username}} さん</div>
    </div>
    <div class="row m-2">
      <div class="col-lg-5 h-100">
        <form id="invoice-form" method="post" onsubmit="return false;">
          <div class="border rounded p-2 mb-2">
            <div class="lead mark mb-2">鏡(ヘッダー)</div>
            <div class="form-group mb-3">
              <label for="invoiceNo" class="form-label">請求書番号：</label>
              <input
                id="invoiceNo"
                type="text"
                name="invoiceNo"
                class="form-control"
              />
            </div>
            <div class="form-group mb-3">
              <label for="issueDate" class="form-label">発行日：</label>
              <input
                id="issueDate"
                type="text"
                name="issueDate"
                class="form-control datepicker"
              />
            </div>
            <div class="form-group mb-3">
              <label for="dealDate" class="form-label">取引日：</label>
              <input
                id="dealDate"
                type="text"
                name="dealDate"
                class="form-control datepicker"
              />
            </div>
            <div class="form-group mb-3">
              <label for="dueDate" class="form-label">支払期日：</label>
              <input
                id="dueDate"
                type="text"
                name="dueDate"
                class="form-control datepicker"
              />
            </div>
            <div class="form-group mb-3">
              <label for="amount" class="form-label"
                >請求額：
                <span style="color: red; font-size: small"
                  >※明細金額の合算値と異なる場合、XMLは明細金額の合算値を優先</span
                ></label
              >
              <input
                id="amount"
                type="number"
                name="amount"
                class="form-control"
              />
            </div>
          </div>
          <div class="border rounded p-2 mb-2">
            <div class="lead mark mb-2">明細</div>
            <div class="table-responsive">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th scope="col">取引年月日</th>
                    <th scope="col">品目</th>
                    <th scope="col">数量</th>
                    <th scope="col">単価(税抜)</th>
                    <th scope="col">税率</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
              <button id="addRow">+ 追加</button>
            </div>
          </div>
          <div class="border rounded p-2 mb-2">
            <div class="lead mark mb-2">売り手(債権者)情報</div>
            <div class="form-group">
              <label for="registerNo" class="form-label"
                >適格請求書発行事業者登録番号：</label
              >
              <div class="row">
                <div class="col-1 form-start-text">T-</div>
                <input
                  id="registerNo"
                  class="col-10"
                  type="text"
                  placeholder="13桁の数字で入力してください"
                  maxlength="13"
                  pattern="^[0-9]{13}$"
                  name="registerNo"
                  class="form-control"
                />
                <div class="error">正しい形式で入力してください</div>
              </div>
            </div>
            <div class="form-text mb-2">
              Tを除く数字13桁で入力してください。
            </div>

            <div class="form-group mb-3">
              <label for="issuer" class="form-label">請求元会社名：</label>
              <input
                id="issuer"
                type="text"
                name="issuer"
                class="form-control"
              />
            </div>
            <div class="form-group mb-3">
              <label for="issuerAddress" class="form-label">請求元住所：</label>
              <input
                id="issuerAddress"
                type="text"
                name="issuerAddress"
                class="form-control"
              />
            </div>
            <div class="form-group mb-3">
              <label for="issuerTel" class="form-label">請求元電話番号：</label>
              <input
                id="issuerTel"
                type="tel"
                pattern="\d{2,4}-?\d{2,4}-?\d{3,4}"
                placeholder="数字で入力してください"
                maxlength="11"
                name="issuerTel"
                class="form-control"
              />
              <div class="error">正しい形式の電話番号を入力してください</div>
            </div>

            <!-- モーダルを開くボタン -->
            <button
              type="button"
              id="bank_easy_input"
              class="btn btn-primary mb-3"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              振込先コードを簡易入力する
            </button>

            <div class="form-group mb-3">
              <label for="bank" class="form-label">振込先銀行名：</label>
              <input id="bank" type="text" name="bank" class="form-control" />
            </div>
            <div class="form-group mb-3">
              <label for="exampleInputEmail1" class="bBranch">支店名：</label>
              <input
                id="bBranch"
                type="text"
                name="bBranch"
                class="form-control"
              />
            </div>
            <div id="accountType" class="form-group mb-2">
              <label>口座種別：</label>
              <br />
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="accountType"
                  value="normal_deposit"
                />
                <label class="form-check-label" for="inlineRadio1">普通</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="accountType"
                  value="current_deposit"
                />
                <label class="form-check-label" for="inlineRadio2">当座</label>
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="accountNo" class="form-label">口座番号：</label>
              <input
                id="accountNo"
                type="number"
                name="accountNo"
                class="form-control"
              />
            </div>
            <div class="form-group mb-3">
              <label for="accountName" class="form-label">口座名義：</label>
              <input
                id="accountName"
                type="text"
                name="accountName"
                class="form-control"
              />
            </div>
          </div>
          <div class="border rounded p-2 mb-2">
            <div class="lead mark mb-2">書い手(債務者)情報</div>

            <div class="form-group">
              <label for="buyerNo" class="form-label"
                >適格請求書発行事業者登録番号：</label
              >
              <div class="row">
                <div class="col-1 form-start-text">T-</div>
                <input
                  id="buyerNo"
                  class="col-10"
                  type="text"
                  placeholder="13桁の数字で入力してください"
                  maxlength="13"
                  pattern="^[0-9]{13}$"
                  name="buyerNo"
                  class="form-control"
                />
                <div class="error">正しい形式で入力してください</div>
              </div>
            </div>
            <div class="form-text mb-2">
              Tを除く数字13桁で入力してください。
            </div>
            <div class="form-group mb-3">
              <label for="buyer" class="form-label">請求先会社名：</label>
              <input id="buyer" type="text" name="buyer" class="form-control" />
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-2">生成</button>
          <input
            type="reset"
            id="reset"
            class="btn btn-primary mt-2"
            value="リセット"
          /><br />
          <!--旧Amazonアフィ-->
        </form>
      </div>

      <!-- モーダル -->

      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
        style="z-index: 1050"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">フォーム</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="bank-name" class="form-label">銀行名</label>
                  <input type="text" class="form-control" id="bank-name" />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                閉じる
              </button>
              <button
                type="button"
                class="btn btn-primary"
                onclick="saveForm()"
              >
                保存する
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div id="result" class="border border-2">
          ここに生成されたPDFが表示されます。
        </div>
        <div id="result_dl"></div>
        <div id="jppint" class="border border-2" onclick="copyText()">
          ここに生成されたJP PINT形式のデジタルインボイスが表示されます。
        </div>
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
          <div id="alert-container"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="amawidget-ZrvEgjGFHMgw"></div>
  <script
    defer
    language="JavaScript"
    type="text/javascript"
    src="https://amawidget.yutbr.com/script/amawidgetjs-v1-0-5.php?AssociateTag=okazaki060803-22&ItemCount=15&Row=horizontal&ItemMaxWidth=100&ItemMaxHeight=150&Display=rm&BrowseNodeIds=466282,466292,466298,466302,492054,1040106,3371411,16462081,3544106051,7251477051&IntervalDay=7&SalesRank=50&DivId=amawidget-ZrvEgjGFHMgw"
  ></script>
  <noscript
    ><a
      target="_blank"
      href="https://www.amazon.co.jp/b?_encoding=UTF8&tag=paapiyou-22&linkCode=ur2&linkId=b49fc871f742dd7ef1af19fdcd04e02e&camp=247&creative=1211&node=2501045051"
      >人気コミック</a
    ></noscript
  >

  <script type="text/javascript">
                          $("#invoice-form").on("submit", function (e) {
                            console.log("submit発火");
                            e.preventDefault();
                            // 明細の値取得 $(".table tbody").children().lengthで明細行数を取得
                            row_num = $(".table tbody").children().length;
                            console.log(`row_num: ${row_num}`);
                            var detailList = [];
                            for (let i = 1; i <= row_num; i++) {
                              console.log(`loop${i}`);
                              var tmpList = [];
                              var detail = $(".detail" + i).serializeArray();
                              detail.forEach((elm) => {
                                Object.keys(elm).forEach((key) => {
                                  if (key == "value") {
                                    tmpList.push(elm[key]);
                                  }
                                });
                              });
                              detailList.push(tmpList);
                            }

                            var formdata = JSON.stringify({
                              fileSpecNo: Math.random().toString(32).substring(2),
                              invoiceNo: $("#invoiceNo").val(),
                              issueDate: $("#issueDate").val(),
                              issuer: $("#issuer").val(),
                              issuerAddress: $("#issuerAddress").val(),
                              issuerTel: $("#issuerTel").val(),
                              amount: $("#amount").val(),
                              dueDate: $("#dueDate").val(),
                              dealDate: $("#dealDate").val(),
                              registerNo: $("#registerNo").val(),
                              bank: $("#bank").val(),
                              bBranch: $("#bBranch").val(),
                              accountType: $("#accountType").val(),
                              accountNo: $("#accountNo").val(),
                              accountName: $("#accountName").val(),
                              detail: detailList,
                              buyer: $("#buyer").val(),
                              buyerNo: $("#buyerNo").val(),
                            });

                            console.log("----");
                            console.dir(formdata);
                            console.log("----");

                            fetch("/call_from_ajax", {
                              method: "POST",
                              headers: {
                                "Content-Type": "application/json",
                              },
                              body: formdata,
                            })
                              .then(function (response) {
                                console.log("/call_from_ajax");
                                console.dir(response);
                                console.dir(response.json)
                                if (!response.ok) {
                                  console.log("API1");
                                  throw new Error("API1 request failed");
                                }

                                return response.json();
                              })
                              .then(function (data) {
                                 console.log("xml/show: ");
                                 console.dir(JSON.parse(JSON.stringify(data)).encoded_string);

                                // PDFを表示
                                $("#result").removeClass("border border-2");
                                $("#result").html(
                                    '<embed type="application/pdf" width="100%" height="100%" src="data:application/pdf;base64,' +
                                    JSON.parse(JSON.stringify(data)).encoded_string +
                                    '">');
                                  $("#result_dl").html('<a style="display: block; margin-bottom: 1.5rem; padding-left: 1rem" href="{{url_for('pdfdownload')}}">PDFをダウンロード</a>');

                                formdata = JSON.parse(formdata);
                                formdata.encoded_string = JSON.parse(JSON.stringify(data)).encoded_string;
                                formdata = JSON.stringify(formdata);

                                console.log('xml/showへのアクセスはここから');
                                return fetch("/xml/show", {
                                  method: "POST",
                                  headers: {
                                    "Content-Type": "application/json",
                                  },
                                  body: formdata,
                                });
                              })
                              .then(function (response) {
                                if (!response.ok) {
                                  console.log("responseの中");
                                  throw new Error("API2 request failed");
                                }
                                return response.text();
                              })
                              .then(function (data){
                                console.log(data);
                                var xml = data;
                                $("#jppint").text(xml);

                              }).catch(function (error) {
                                console.log("errorの中");
                              });
                          });

                          $(".datepicker").datepicker({
                            language: "ja",
                            format: "yyyy/mm/dd",
                            autoclose: true,
                            showButtonPanel: true,
                          });

                          $(function () {
                            $(document).on("click", ".remove", function () {
                              console.log("remove function start");
                              $(this).parents("tr").remove();
                            });
                          });
                          $("#addRow").click(function (e) {
                            e.preventDefault();
                            // tableの行数取得
                            var id = $(".table tbody").children().length + 1;
                            console.log(`明細行ID=${id}`);
                            var html = `<tr><td><input id="detail${id}" name="detail${id}" class="detail${id} form-control datepicker" type="text" onclick="(function(){$('#detail${id}').datepicker(); $('#detail${id}').datepicker('show');})()" /></td><td><input id="ItemDetail${id}" name="detail${id}"  class="detail${id} form-control" type="text" /></td><td><input id="quantityDetail${id}" name="detail${id}"  class="detail${id} form-control" type="number" /></td><td><input id="priceDetail${id}" name="detail${id}"  class="detail${id} form-control" type="number" /></td><td><select id="taxrate${id}" class="detail${id} form-control form-control-md" name="taxrate">
                                              <option value="10%">10%</option>
                                              <option value="8%">8%</option>
                                              <option value="それ以外">非課税・不課税</option>
                                            </select><td><button class="remove">-</button></td></tr>`;
                            $("tbody").append(html);
                          });

                        $(function() {
                          console.log("ログイン用ajax起動");
                          $('#loginForm').submit(function(event) {
                            event.preventDefault();
                            $.ajax({
                              type: 'POST',
                              url: '/login',
                              data: $('#loginForm').serialize(),
                              success: function(response) {
                                // ログイン成功時の処理
                                $('#login_button').modal('hide');
                                location.reload();
                                console.log("ログイン成功");
                                console.dir(response);
                              },
                              error: function(response) {
                                // ログイン失敗時の処理
                                $('#loginError').removeClass('d-none');
                                console.log("ログイン失敗");
                              }
                            });
                          });
                        });

                      /** jppintの欄をクリックするとXMLがコピーされる実装 **/
                function copyText() {
                  const element = document.getElementById('jppint');
                  let range = document.createRange();
                  range.selectNodeContents(element);
                  let selection = window.getSelection();
                  selection.removeAllRanges();
                  selection.addRange(range);
                  document.execCommand('copy');
                  const alertElement = document.createElement('div');
                  alertElement.classList.add('alert', 'alert-success', 'position-fixed', 'end-0', 'me-3');
                  alertElement.setAttribute('role', 'alert');
                  alertElement.innerText = 'コピーしました。';
                  document.getElementById('alert-container').appendChild(alertElement);
                  setTimeout(() => {
                    alertElement.remove();
                  }, 3000);
                }

            function saveForm() {
              // モーダル内のフォーム要素を取得
              //const form = document.querySelector("#exampleModal form");

              // フォーム内の銀行名を取得
              const bankName = document.querySelector("#bank-name").value;  // モーダル内のフォーム要素を取得
              document.getElementById("bank").value = bankName;

              // モーダルを閉じる
              const modal = bootstrap.Modal.getInstance(document.getElementById("exampleModal"));
              modal.hide();
            }

            $(document).ready(function() {
          // モーダルが閉じられたときに背景用の<div>要素を削除する
          $('.modal').on('hidden.bs.modal', function () {
            $('.modal-backdrop').remove();
          });
        });

       $(function() {
      // モーダルを開く前に、body要素にoverflow:hiddenスタイルを適用
      $('#exampleModal').on('show.bs.modal', function() {
        $('body').css('overflow', 'hidden');
      });

      // モーダルを閉じた後に、body要素のoverflow:hiddenスタイルを解除
      $('#exampleModal').on('hidden.bs.modal', function() {
        $('body').css('overflow', '');
      });
    });
  </script>

  {% endblock %}
</div>
